/* Navbar */

body {
    width: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;

    /*background-color: #1F2937;*/
    background-color: #242582;
    padding: 10px 15% 100px 15%;
}

.lnavbar, .rnavbar {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.lnavbar a {
    text-decoration: none;
    font-size: 24px;
    /*color: #F9FAF8;*/
    color: #F64C72;
    font-weight: bold;
}

.rnavbar a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

@media only screen and (max-width: 850px) {
    .header {
      display: flex;
      flex-direction: column;
      gap: 18px;
      padding: 10px 15% 30px 15%;
    }
  }

/* main body */

.mainbody {
    display: flex;
    flex-direction: column;
}

/* body 1 */

.body1, .body2, .body3, .body4 {
    height: 40vh;
    padding: 0 15% 0 15%;
    gap: 18px;
}

.body1 {
    /*background-color: #1F2937;*/
    background-color: #242582;
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 0px 15% 100px 15%;
}

.lbody1, .rbody1 {
    width: 50%;
    /*border: 10px solid white;*/
}

.lbody1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.maintext {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.lbody1 button {
    font-weight: bolder;
    color: #E5E7EB;

    /*background-color: #3882F6;*/
    background-color: #F64C72;
    width: 100px;
    height: 40px;
    border-radius: 12px;
}

.rbody1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7Eb;
    text-align: center;
}

@media only screen and (max-width: 850px) {
    .body1{
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        padding: 10px 5% 75px 5%;
        gap: 20px;

    }

    .lbody1{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .rbody1{
        width: 75%;
        height: 250px;
    }
  }

/* body 2 */

.body2 {
    height: auto;
    padding-bottom: 45px;
    background-color: #99738E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top2 {
    font-size: 36px;
    font-weight: bolder;
    /*color: #1F2937;*/
    color: #F9FAF8;
    text-align: center;
}

.bottom2 {
}

.placeholderflex {
    display: flex;
    gap: 10px;
}

.placeholderflex img {
    max-width: 12vw;
    width: 12vw;
    /*border-radius: 12px;
    border: 12px solid #F9FAF8;*/
}

@media only screen and (max-width: 850px) {

    .body2 {
        height: auto;
        padding-bottom: 25px;
    }

    .placeholderflex {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
  

    .placeholderflex img {
        max-width: 40vw;
        width: 25vw;
        height: auto;
    }
}

/* body 3 */

.body3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #E5E7Eb;
}

#quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    /*color: #1F2937;*/
    color: #242582;
}

#author {
    display: flex;
    justify-content: right;
    font: 28px;
    font-weight: bolder;
    color: #242582;
}

/* body 4 */

.body4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    /*background-color: #3882F6;*/
    background-color: #F64C72;
    width: 80%;
    height: 40%;
    border-radius: 12px;

    display: flex;
    justify-content: space-around;
    align-items: center;;
}

.modaltext{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalheader {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.modalsubtext {
    font-size: 18px;
    color: #F9FAF8;
}

.modalbutton button{
    width: 100px;
    height: 30px;
    border-radius: 12px;
    border-color: #E5E7EB;
    /*background-color: #3882F6;*/
    background-color: #F64C72;

    color: #F9FAF8;
    font-size: 14px;
    font-weight: 1000;
}

@media only screen and (max-width: 850px) {

    .modal {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        text-align: center;
    }

}

/* footer */

.footer {
    display: flex;
    justify-content: center;

    /*background-color: #1F2937;*/
    background-color: #242582;
    color: #E5E7EB;
}